Port 22
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
PasswordAuthentication yes
PubkeyAuthentication yes
PermitRootLogin no
AllowUsers passport
UsePAM no
UseDNS no
AllowTcpForwarding yes
GatewayPorts no
AcceptEnv PASSPORT_* LANG LC_*
Subsystem sftp internal-sftp
LogLevel VERBOSE
